@model string
@if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div style="position: fixed; right:75px; bottom:75px;" class="text-white">
        <a asp-controller="@Model" asp-action="Create" class="btn btn-success"> Add New </a>
    </div>
}


