@inject UserManager<ApplicationUser> UserManager;
@if (!User.Identity.IsAuthenticated)
{
    <a class="btn btn-outline-success my-2 me-3" asp-controller="Account" asp-action="Login">
                        <i class="bi bi-box-arrow-in-right"></i>Log in
                    </a>
                    
                    <a class="btn btn-outline-primary my-2 me-4" asp-controller="Account" asp-action="Register">
                        <i class="bi bi-person-plus"></i>Register
    </a>
}
else
{
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle me-4" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-badge"></i>Hello @UserManager.GetUserName(User)</button>
          <ul class="dropdown-menu">
             <li> 
                 <a class="dropdown-item" asp-controller="Orders" asp-action="Index"><i class="bi bi-list"></i> Orders</a>
             </li>
            @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <li> 
                 <a class="dropdown-item" asp-controller="Account" asp-action="Users"><i class="bi bi-people"></i> Users</a>
                </li>
            }
        </ul>
        
   </div>
   <form asp-controller="Account" asp-action="Logout">
         <button class="btn btn-outline-danger"><i class="bi bi-box-arrow-in-right"></i>Log out</button>
   </form>
}

                    