<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Your order is completed!</h2>
        <p>You can check all your orders in Profile orders section</p>
        <hr/>
        <p>Thank you!</p>
    </div>
    <div class="text-center">
        <a class="btn btn-outline-primary" asp-controller="Movies" asp-action="Index">Back to movies</a>
    </div>
</div>
